@model List<B_BW1.Models.Products>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-5">
    @foreach (var p in Model)
    {
        <div class="col mb-4">
            <a href="/Details/Index/@p.idProduct">           
                <div class="card rounded-0 border-0 position-relative">
                    <img src="@p.imageURL" class="card-img-top" alt="@p.displayName" style="height:300px; object-fit:cover;" />

                    <div class="text-end card-body w-100 p-0">
                        <p class="card-text text-dark me-2">@p.price €</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>